<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>TEST</title>
	<script type="text/javascript" src="../../../apps_qiwu/qwrap_qiwu_combo.js"></script>

    </head>
	<body>
		<div id="test" style="width:250px;height:250px;background:red;"></div>
		<div style="padding-top:20px;">
			<input type="button" value="fadeIn" />
			<input type="button" value="fadeOut" />
			<input type="button" value="slideDown" />
			<input type="button" value="slideUp" /><br ><br >
			<button type="button" >slideUp(1000, true).slideDown(1000, true).fadeOut(1000, true).fadeIn(1000, true)</button>
		</div>
		<script>
			W('input').click(function() {
				eval("W('#test')." +W(this).val()+ "()");
			});

			W('button').click(function() {
				eval("W('#test')." +W(this).html());
			});

			W('#test').css('opacity', .5);
		</script>
	</body>
</html>
